.vc-error-card {
    padding: 2em;
    background-color: #e7828430;
    border: 1px solid #e78284;
    border-radius: 5px;
    color: var(--text-default, white);
<<<<<<< HEAD

    & a:hover {
        text-decoration: underline;
    }
=======
}

& a:hover {
    text-decoration: underline;
>>>>>>> 9c5b8cc7de5c5efe7d24387258b9df376abf077c
}
